body { 
    margin:0;
    background: #6ba8e9;
    overflow: hidden;
}

div {
    height: 164px;
    width: 100%;
}

h1 {
    font-family: 'Cairo', sans-serif; 
    font-size: 38px;
    color: white;
    position: absolute;
    top: 30px;
    right: 200px;
}

h2 {
    font-family: 'Cairo', sans-serif; 
    font-size: 25px;
    line-height: 1;
    color: white;
}

h3 {
    font-family: 'Cairo', sans-serif; 
    font-size: 23px;
    color: white;
    text-align: center;
    line-height: 1.2;
    position: absolute;
    top: 185px;

}

button {
    border: none;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Cairo', sans-serif; 
    color: #3f83cc;
}

button:hover {
    background-color: #bac1ca;
}

#login-button {
    position: absolute;
    bottom: 210px;
    left: 370px;
}

#signup-button {
    position: absolute;
    bottom: 210px;
    right: 370px;
}

form {
    position:absolute;
    top: 160px;
    left: 550px;
}

.slider {
    height: 170px;
    width: 400px;
    background-color: #3f83cc;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: -170px;
    /* bottom: 0px; */
    right: 0px;
}

#question {
    position: absolute;
    top: 50px;
    left: 300px;
    font-family: 'Cairo', sans-serif; 
    font-size: 50px;
    color: white;
    position: absolute;
    top: 130px;
    left: 350px;
    
}

a {
    text-decoration: none;
    color: #0f447e;
}


#student-icon {
    position: absolute;
    top: 300px;
    left: 400px;
}

#teacher-icon {
    position: absolute;
    top: 300px;
    left: 750px;
}

input {
    width: 300px;
    height: 30px;
    border: none;
    display:block;
}

label {
    font-family: 'Cairo', sans-serif; 
    font-size: 20px;
    color: white;
}

#submit-button {
    border: none;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    font-size: 30px;
    font-family: 'Cairo', sans-serif; 
    color: #3f83cc;
    position: relative;
    top: 30px;
    left: 80px;
}

#active-projects {
    width: 400px;
    height: 300px;
    background-color: #519ae8;
    font-family: 'Cairo', sans-serif; 
    font-size: 20px;
    position: absolute;
    top: 140px;
    right: 10px;
    border: solid;
    border-color: white;
    border-radius: 7px;
}

#header {
    font-size: 25px;
    position: absolute;
    top: 0px;
    right: 100px;
    font-size: 30px;
}

#all-header {
    font-size: 25px;
    position: absolute;
    top: 0px;
    right: 125px;
    font-size: 30px;
}

.project-name {
    font-family: 'Cairo', sans-serif; 
    font-size: 20px;
    color: white;
    padding: 0px;
    font-size: 25px;
}

#names {
    height: 5px;
    position: relative;
    top: 30px;
    right: 20px;
    text-align: center;

}

ul {
    list-style-type: none;
}

#desc {
    height: 5px;
    position: relative;
    text-align: center;
    top: 47px;
    right: 20px;
    color: rgb(236, 233, 233);
}

#project-form {
    position: absolute;
    top: 10px;
    right: 20px;
    height: 200px;
}

#projectcreate-form {
    position: absolute;
    bottom: 600px;
    right: 40px;
    height: 200px;
}

#show {
    position: absolute;
    bottom: 120px;
    right: 150px;
}

#create-project {
    position: absolute;
    bottom: 30px;
    right: 150px;
    font-size: 20px;
}

#all-projects {
    width: 400px;
    height: 300px;
    font-family: 'Cairo', sans-serif; 
    font-size: 20px;
    position: absolute;
    top: 200px;
    right: 470px;
    border-radius: 7px;
}

#hello-student {
    position:absolute;
    top: 10px;
    left: 10px;
}

#upload {
    position:absolute;
    top: 90px;
    right: 580px;
    font-size: 30px;
}

#projects {
    font-size: 45px;
    position: absolute;
    top: -10px;
    right: 400px;

}

input[type=submit] {
    border: none;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Cairo', sans-serif; 
    color: #3f83cc;
    position: relative;
    top: 10px;
    left: 80px;
}

input[type=submit]:hover {
    background-color: #bac1ca;
}
