{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
</head>

<body>
<div class='slider'></div>
<div class="background" style="background:#3f83cc"></div>
<div class="background" style="background:#4692e3"></div>
<div class="background" style="background:#599de6"></div>
<div class="background" style="background:#6ba8e9"></div>
<a href="{% url 'frontend:login' %}"><button id="login-button">Log in</button></a>
<a href="{% url 'frontend:choose_role' %}"><button id="signup-button">Sign up</button></a>
<h1>Chuj, Dupa, Cycki</h1>
<h3>Lorem ipsum dolor sit amet,
     consectetur adipiscing elit.
      Nam ullamcorper dolor eu nisl feugiat eleifend.
       Proin erat diam, mattis eget vulputate nec, ultricies vel risus.
        Phasellus vitae nunc elit. In hac habitasse platea dictumst.
         Nunc commodo odio at euismod pellentesque. Suspendisse tempus nec nisl quis pulvinar</h3>
    
    <div class="slider">
        <h2>Try all the funcionality without signing up!</h2>
        <a href="."><button id="demo-button">Try it!</button></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src='{% static "frontend/app.js" %}'></script>
</body>

</html>